{% extends 'layout/panels.html.twig' %}


{% block side %}

{% if page.header.icon  %}
    <div class="icon">
          {{page.media[page.header.icon].cropResize(300,300)}}
    </div>
{% endif %}
{% endblock side %}

{% block article %}
  <h1 class="">{{ page.title }}</h1>
{{ page.content }}

{% for item in page.collection %}
    {{item.title}}
{% endfor %}

{% endblock article %}
