{% extends 'partials/base.html.twig' %}

{% block content %}
	<main class="index">

		{% for item in page.parent.children.visible %}

			<section>
				{% if item.template == 'front' %}
					{% include 'layout/front.html.twig' with {'page':item} %}
				{% else %}
					{% include 'layout/list.html.twig' with {'page':item} %}
				{% endif %}


			</section>

		{% endfor %}

	</main>
{% endblock %}
