<header id="top-bar" class="transition pa-2 bg-black-20 sticky top-0 items-center flex flex-row justify-center z-4">
  
    <a id="logo" href="{{ base_url_absolute }}">
					{% if theme.custom_logo %}
						<img width="120px" src="{{base_url_absolute ~ '/' ~ theme.custom_logo|first.path }}"/>
					{% else %}
						{{ site.title }}
					{% endif %}
				</a>
    
    {% block header_menu %}
      <nav class="">
        {% include 'partials/menu.html.twig' %}
      </nav>
    {% endblock %}
  
</header>
