.card {
  display: flex;
  margin:0;
  padding: 0;
  align-items: center;
  border-bottom:1px solid #ccc;
}

.card:first-of-type {
  border-top:1px solid #ccc;
}

.card:hover {
  background-color: hsla(0,0%,0%,0.1);
}

.card > .image {
  min-width: 100px;
  margin:1em;
}

.card > .info {
  padding: 1em;
}

.card .title {
  margin:0;
}

.card.active {
  background-color: hsla(0,0%,100%,1);
  cursor: no-drop;
  position:sticky;
  top:var(--header-h);
  margin-top:0;
}
