a.avatar {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
}

.avatar img {
  border-radius: 50%;
}

.small.card .type svg {
  width:30px;
  height: 30px;
  margin: 8px;
}

.small.card {
  padding:4px;
  margin: 8px;
  flex-wrap: nowrap;
  flex: 1 1 200px;
  color: var(--text-color);
}

.small.card svg path {
  stroke: var(--text-color);
}


.event footer {
  flex:1 1 75px;
}

.event .card-text {
  flex-grow: 50;
}

.event .date {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding:0.5em;
  font-weight: bold;
  border-radius: 12px;
  background-color: var(--darker-gray);
}

#design {
  background-color: var(--darker-gray);
}

#design header h1 {
  font-size: 2em;
}

.ops {
 display: flex;
 flex-flow: wrap;
}

 .card.op {
  padding: 4px;
  margin: 0.5em;
  flex: 1 1 300px;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
}

.card.op .verb {
    flex: 1 1 90px;
    max-width: max-content;
    margin: 0 8px 0 0;
}


.card.op .text {
  flex: 1 1 40%;
  padding: 1em 1em 1em 0;
}

.card.op a {

  font-weight: bold;
  margin: 0 4px;
  background-color: var(--opportunity);

  display: flex;
align-items: center;
word-break: keep-all;


}

.tag.op {
  background-color:  var(--opportunity);
}

.tag svg, .op a svg  {
  margin: 0 4px 0 -2px;
}

.tag svg path, .op a svg path, .lister header h3 svg path {
  stroke: var(--text-color);
  stroke-width: 10px;
  transform: scale(1.1);
  transform-origin: center center;
}

.lister header h3 svg {
  margin:0 0 0.13em 0;
}

.listers {
  padding: 0 0 4em 0;
}

.alist {
  padding: 0 1em;
  display: none;
  flex-flow: row wrap;
  transition: all 800ms ease-in-out;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  max-width: 100%;
}

.alist.open {
  display: flex;
  visibility: visible;
  opacity: 1;
  max-height: 800vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lister header {
  background-color:  var(--bg-gray);
  padding: 0 2em;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 4px 0px -4px var(--shadow-color);
}

.lister header h2, .lister header h3 {
  margin:1em 0;
  padding:4px 8px;
  font-size: 1.1rem;
}

.lister header h3 {
  cursor: pointer;
  box-shadow: 0px 4px 0 0 var(--shadow-color);
  border-radius: 12px;
}
