#design {
  background-color: var(--darker-gray);
}

#design header h1 {
  font-size: 2em;
}

#project .op {
  padding: 1em;
  margin: 0.5em 0;
}

#project .ops {
  display: flex;
  flex-flow: wrap;
}

#project .op a {
  font-weight: bold;
  margin: 0 4px;
}



.card.design {

}

.card.design:hover {

}

.card.design .card-image {

}

.card.design img {

}

.card.design .card-text {

}

.card.design:hover .card-text {

}
