:root body {
  --design: #F15D22;
  --project:  #FAB915;
  --opportunity: #A8C33B;
  --object: #8C8C8C;
  --event: #FEE000;
  --gift: #754C29;
}

.tag.design {
  background-color: var(--design);
}

.tag.project {
  background-color: var(--project);
}

.tag.opportunity {
  background-color: var(--opportunity);
}

.tag.event {
  background-color: var(--event);
}

.tag.process {
  background-color: hsla(156,48%,77%,1);
}

.tag.development {
  background-color: hsla(0,0%,75%,1);
}

.tag.paused {
  background-color: hsla(0,0%,75%,1);
}

.tag.request {
  background-color: hsla(67,58%,87%,1);
}
