:root body {
  --design: #F15D22;
  --project:  #FAB915;
  --opportunity: #A8C33B;
  --object: #8C8C8C;
  --event: #FEE000;
  --gift: #754C29;
}

.tag.process {
  background-color: hsla(156,48%,77%,1);
}

.tag.development {
  background-color: hsla(0,0%,75%,1);
  background-color: #8DC5EF;
}

.tag.paused {
  background-color: hsla(0,0%,75%,1);
}
