@media (max-width: 719px) {



}

@media (max-width:900px) {

  #main > aside {
    flex-basis: 100% !important;
    max-width: none !important;
  }

  #main .asider {

  }

  #main .asidel {
  }

  #main .asidel.open {
    top:0;
    z-index:40;
  }


}
