.ukts svg {
  width:100%;
  height:100%;
  display: flex;
  flex-flow: column;
}
.ukts .row {
  display: flex;
  border-bottom: 1px solid #999;
  padding-bottom:0.5em;
  margin-bottom: 1em;
}

.ukts .col {
  flex: 1 1 16%;
}

.ukts .text {
  text-align: center;
  font-weight: bold;
  color: #888;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 14px;
  margin: 0 4px;
}

.ukts .col {
  background-color: hsla(0,0%,100%,0);
    transition: all 350ms ease;
}

.ukts .col:hover {
  transform: scale(2);
  border-radius: 12px;
  background-color: hsla(0,0%,100%,1);
}
