@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Ubuntu|Inconsolata);

:root {
  --bg-gray: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 150%;
   }

code,
kbd,
pre,
samp {
  font-family: "Inconsolata", monospace; }

.page-content {
      min-width:100%;
  }

.flex {
  display: flex;
}

.float-right {
    float: right;
}

.float-left {
 	  float:left;
}

a {
    text-decoration: none;
  color: #1694CA;
 }

a:hover {
  color: #0e6185; }

a.underlined {
    border-bottom: solid 1px #1694CA;
}

.bg {
  background: #fff;
  border: 1px solid #eaeaea; }


b, strong, label, th {
  font-weight: 600; }

.content.narrow {
    flex-basis: 10px;
    max-width: 300px;
}

.content a {
    font-weight: bold;
}

.item-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    justify-content: center;
    margin: 1em;
    background-color: #fff;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.item-card a {
  color: #333;
}

.flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.pagination {
    justify-content:center !important;
}

.table-of-contents .toclink::before {
    content: "â€¢";
    display: inline;
    margin-right: .5ex;
}

.child-card {
    padding:1em;
    box-shadow:  0px 1px 1px #333;
    border-radius: 4px;
}

.card {
    max-width:200px;
}

code {
  background: #f9f2f4;
  color: #9c1d3d;
  padding: .2rem .4rem;
  border-radius: 3px; }

pre {
  padding: 1rem;
  margin: 2rem 0;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 2px;
  line-height: 1.15;
  font-size: 1rem; }
  pre code {
    color: #237794;
    background: inherit;
    font-size: 1rem; }

hr {
  border-bottom: 4px solid #F0F2F4; }

.sticky {
  position: sticky;
  top:50px;
}

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #1694CA;
  color: #fff; }


.page-blocks > section {
  padding: 4em 0;
  background: var(--bg-gray);
}

.page-blocks > section:nth-child(even) {
  background: #fff;
}



.page {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.page > .content {
  flex: 1 0 200px;
  position: sticky;
  top:90px;
  padding: 1em;
}

.page .cards {
  flex: 1 1 100px;
  height:min-content;
  position:sticky;
  top: 90px;
  padding: 2em 0;
}
