@media (max-width: 500px) {
    .page .content, .page .cards {
        position: static;
    }


}

@media only all and (min-width: 1400px) {
    #sidebar {
        width: 230px;
    }

    #body {
        margin-left: 230px; }


}

@media only all and (max-width: 1400px) {

    #sidebar {
        width: 230px;
        left: -230px;
    }

     #sidebar-toggle {
      display: inline-block; }

    #body {
        margin-left: 0;
        width: 100%;
    }

    #body .padding {
        padding: 5px 1rem;
    }

    .two-column-bullet, .three-column-bullet, .four-column-bullet {
      width: 100%;
    }

  .sidebar-hidden {
    overflow: hidden; }

    .sidebar-hidden #sidebar {
      left: 0; }

    .sidebar-hidden #body {
      margin-left: 230px;
      overflow: hidden; }

    .sidebar-hidden #overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      pointer-events: none;
       }

}
