.tag {
  background: hsla(0,0%,70%,0.08);
  padding: 6px 10px;
  margin: 2px;
  border-radius: 20px;
  color: #666;
  font-size: 12px;
  white-space:nowrap;
}
.tag i {
  margin: 0 4px 0 0;
}

.article img {
  transition: transform 300ms ease;
}

.article img:hover {
  transform: scale(1.5);
}
/*  table of contents  */

.page-toc {
    position: fixed;
    z-index:20;
    top: 100px;
    left:2em;
    max-width:200px;
    background: hsla(0,0%,50%,0);
    font-size: 14px;
    line-height: 24px;
    max-height:70%;
    scrollbar-width: thin;
    scrollbar-color: #eee;
    overflow-y:scroll;
    overflow-x:hidden;
}

.page-toc h5 {
  color: #555;
  margin: 1em 0;
}

.page-toc ul {
  padding-left:12px;
  list-style: none;
}

.page-toc > ul {
  margin-bottom:2em;
}


.page-toc a {
  color: #888;
  transition: all 300ms ease;
  font-weight: normal;
}

.page-toc a:hover {
  color:#222;
}

.page-toc li.active {
  list-style: disc outside;
}

.page-toc li.active > a {
  color: black;
}
