.card {
  flex: 1 1 400px;
  margin:1em 0;
  padding: 0.5em;
  border-radius: 12px;
  transition: all 300ms ease;
  box-shadow: 0 0.00rem 0.01rem rgba(0,0,0,0.1),0 0.00rem 0.01rem rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid hsla(0,0%,50%,0.1);
}

.card:hover {
  box-shadow:  0 0.13rem 0.26rem rgba(0,0,0,0.1),0 0.43rem 1.30rem rgba(0,0,0,0.15);
}

.card-content {
  padding: 1em;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image {
  padding:0.5em;
  flex: 0 0 150px;
}

.card a {
  color: var(--text-color);
  font-weight: normal;
}

.card-text {
  flex: 1 1 200px;
  padding:0 0.5em;
}

.card .title {
  margin:0;
}

.card .summary {
  margin-bottom:0.5em;
  max-height: 5em;
  overflow: hidden;
  line-clamp: 4;
  text-overflow: ellipsis;
}

.child-cards {
  display: flex;
  flex-wrap: wrap;
}

.child-cards .card {
  align-items: center;
  margin:0.25em;
  flex-wrap: nowrap;
  flex:1 1 8em;
}

.child-cards .title {
  font-size: 1em;
}

article-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  justify-content: center;
  margin: 1em;
  overflow: hidden;
  height:320px;
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  min-width: 200px;
  position: relative;
}

.article-card .card-image {
  position: absolute;
  text-align: center;
  z-index:1
}

.article-card .card-content {
  position: absolute;
  margin-top:120px;
  padding: 1em;
  z-index:2;
  bottom:0;
  transition:all 300ms ease;
  background: hsla(0,0%,100%,0.8);
}

.article-card:hover .card-content {
  background: hsla(0,0%,100%,1)
}


.article-card .tags {
  position:absolute;
  right:1em;
  top:1em;
  z-index:30;
}
