@media (max-width: 670px) {

#body .panels {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
    "header"
    "content"
    "footer";
    max-height: min-content;
    place-items: start start;
  }

  .list {
    grid-template-columns: 1fr;
    position: relative;
  }
.panels > header {
    position:static;
  }

  .page-toc {
     display:none;
    }
    main.panels header {
      flex: 1 1 100%;
    }
  .panels header .start {
    padding: 3em !important;
  }
.panels {
      padding: 0;
    }
.page > section {
      flex-basis:100%;
      position:static;
    }
}

@media (min-width:3150px) {
  .page-toc {
    left: 940px;
  }

  main.panels.with-toc header {
    position:sticky;
    top: 30px;
  }
}
