@media (max-width: 670px) {

  main.article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
    "header"
    "content"
    "footer";
    max-height: min-content;
    place-items: start start;
  }

  .list {
    grid-template-columns: 1fr;
    position: relative;
  }

  .page-toc {
     display:none;
    }
    main.article header {
      flex: 1 1 100%;
    }

    main.article {
      padding: 1em;
    }
    main.page > section {
      flex-basis:100%;
      position:static;
    }
}

@media (min-width:1150px) {
  .page-toc {
    left: 940px;
  }

  main.article header {
    position:sticky;
    top: 30px;
  }
}
