    {% set cats = page.taxonomy.category %}

    {% set progress = page.collection({'items':{'@taxonomy':{'category': cats}},'order': {'by': 'default', 'dir': 'asc'}}) %}
	{% set next = progress.nextSibling(page.path) %}
	{% set prev = progress.prevSibling(page.path) %}
{% if next or prev %}
	<div id="bottom-page-nav">

	{% if not progress.isFirst(page.path) %}
	    <a class="nav prev" href="{{ next.url }}">
	        <i class="fa fa-2x fa-chevron-left"></i>
	        <div>
	            <h6>Назад</h6>
	            <h5>{{next.title}}</h5>
	        </div>
	    </a>
	{% endif %}

	{% if not progress.isLast(page.path) %}
	    <a class="nav next" href="{{ prev.url }}">
	        <i class="fa fa-2x fa-chevron-right"></i>
	        <div>
	            <h6>Вперед</h6>
	            <h5>{{prev.title}}</h5>
	        </div>
        </a>
	{% endif %}

	</div>
{% endif %}
