{% if item.visible %}

            <div class="card item-card">
              <a class="item-card" href="{{item.url}}">

            	   {% include 'partials/card-image.html.twig'%}

            	    <div class="card-content">


                        <div class="content">
                            <h4 class="title is-size-4">{{item.title}}
                            </h4>

                            <p class="subtitle is-size-7">

                                    <p>{{item.summary()|striptags}}
                                    </p>

                        </div>
            	    </div>
                </a>
            </div>


{% endif %}
