{% if item.header.icon or item.media.images or item.media.files %}
    <div class="card-image">

            {% if item.header.icon %}
              {{item.media[item.header.icon].resize(200,200)}}
            {% elseif item.media.images %}
                {{item.media.images|first.resize(200,200)}}
            {% elseif item.media.files %}
                 {{item.media.files|first.resize(200,200)}}
            {% endif %}

    </div>
{% endif %}
