{% extends 'layout/base.html.twig' %}

{% block content %}

<main class="article">

      <header>
        {% if page.header.icon  %}
            <div class="article-icon">
                  {{page.media[page.header.icon]}}
            </div>
        {% endif %}
      </header>

      <article class="content">
          <h2>{{ page.title }}</h2>
          {{ page.content }}

      </article>

</main>

{% endblock %}
