{% extends 'layout/panels.html.twig' %}

{% do assets.addCss('theme://css/design.css',99) %}

{% set main_id = 'design' %}

{% block info %}

{% if page.header.website %}
  <a href="https://{{ page.header.website}}" target="_blank">{{page.header.website}}</a>
{% endif %}

{% endblock %}


{% block article %}

      {{ page.content }}


      {% if page.children.visible|count > 0 %}

        <div class="projects">
        <h2>{{ 'THEME_FRUKT_PROJECTS'|t }}</h2>

        {% for item in page.children.visible %}

              {% include '/partials/card.html.twig'  %}

        {% endfor %}

        </div>

      {% endif %}


{% endblock %}
