{% extends 'layout/panels.html.twig' %}

{% set main_classes = 'design' %}

{% block toc %}

{% endblock %}


{% block article %}
        <p>
            {{ page.content }}
        </p>

{% endblock %}
