{% extends 'layout/base.html.twig' %}

{% block content %}
  <main class="index">

  {% for item in page.parent.children.visible %}

    <section>
      {% include 'layout/list.html.twig' with {'page':item} %}
    </section>

  {% endfor %}

</main>
{% endblock %}
