{% extends 'layout/panels.html.twig' %}

{% do assets.addCss('theme://css/design.css',99) %}
{% do
  assets.addCss('theme://css/icons.css', 99) %}

  {% set options = { items: {'@self.children':''}, 'order': {'by': 'default', 'dir': 'asc'}} %}
  {% set my_collection = page.collection(options) %}

  {% set types = ['purchase', 'design', 'project', 'object', 'event', 'thing'] %}

  {% block title %}
    <h1 class="title">{{ page.title }} </h1>
  {% endblock %}

{% block additional %}
{% if page.template in types %}
<a class="type tag">
  {{ read_file('theme://icons/lines/' ~ page.template ~ '.svg') }} <span class="text">{{ ('THEME_FRUKT.' ~ page.template|upper)|t }}</span>
</a>
{% endif %}
{% include 'partials/people-list.html.twig' %}
{% if page.header.status %}
  {% include 'partials/status.html.twig' with { item: page } %}
  {% endif %}
{% endblock %}


{% block article %}

        <p>
            {{ page.content }}
        </p>


{% endblock %}

{% block lists %}
<footer class="listers">

    {% for type in types %}
      {% include 'partials/lister.html.twig' with {
      type: type,
      title: 'THEME_FRUKT.' ~ type|pluralize|upper,
      collect: page.children.ofType(type) } %}
    {% endfor %}


    {% include 'partials/lister.html.twig' with {
    type: 'opportunity',
    title: 'THEME_FRUKT.OPPORTUNITIES',
    template: 'op-card',
    collect: page.header.opportunities } %}

    {% include 'partials/lister.html.twig' with {
    type: 'time',
    title: 'THEME_FRUKT.HISTORY',
    template: 'moment',
    collect: page.header.history } %}

    {% if backlinks[page.url] %}
    <aside>

      {% set mentions = [] %}
      {% for m in backlinks[page.url] %}
          {% set mentions = mentions|merge([pages.find(m)]) %}
      {% endfor %}

      {% include 'partials/lister.html.twig' with {
      type: 'mention',
      title: 'THEME_FRUKT.MENTIONS',
      template: 'small-card',
      collect: mentions } %}

      </aside>
    {% endif %}

</footer>

{% endblock %}
