{% extends 'layout/panels.html.twig' %}

{% do assets.addCss('theme://css/design.css',99) %}
{% do
  assets.addCss('theme://css/icons.css', 99) %}



  {% set types = ['purchase', 'design', 'project', 'object', 'event', 'thing'] %}

{% block info %}

{% if page.header.status %}
  {% include 'partials/status.html.twig' with { item: page } %}
{% endif %}

{% endblock %}

{% block people %}
{% if header.people and header.people|count > 0 %}
<div class="people">
  {% for persona in header.people %}
  {% set person = pages.find(persona.alias) %}
    <a class="avatar" href="{{person.url}}">
    {{ person.media[person.header.icon].cropResize(300, 300).html(person.title) }} </a>
  {% endfor %}
</div>
{% endif %}
{% endblock %}


{% block article %}

        <p>
            {{ page.content }}
        </p>


{% endblock %}

{% block lists %}
<footer class="listers">

    {% for type in types %}
      {% include 'partials/lister.html.twig' with {
      type: type,
      title: 'THEME_FRUKT.' ~ type|pluralize|upper,
      collect: page.children.ofType(type) } %}
    {% endfor %}


    {% include 'partials/lister.html.twig' with {
    type: 'opportunity',
    title: 'THEME_FRUKT.OPPORTUNITIES',
    template: 'op-card',
    collect: page.header.opportunities } %}

    {% if backlinks[page.url] %}
    <aside>

      {% set mentions = [] %}
      {% for m in backlinks[page.url] %}
          {% set mentions = mentions|merge([pages.find(m)]) %}
      {% endfor %}

      {% include 'partials/lister.html.twig' with {
      type: 'mention',
      title: 'THEME_FRUKT.MENTIONS',
      template: 'small-card',
      collect: mentions } %}

      </aside>
    {% endif %}

</footer>

{% endblock %}
