{% if item.header.icon or item.header.bg %}
{% set size = size ?: 150 %}
{% set max = max ? 'max-width:' ~ max ~ 'px;' : '' %}

    <div style="{{max}}" class="card-image">

            {% if item.header.icon %}
              {% set image  = item.media[item.header.icon].cropResize(size,size) %}
            {% elseif item.header.bg %}
              {% set image  = item.media[item.header.bg].cropZoom(size,size) %}
            {% endif %}

          {% if url %}
            <a href="{{item.url}}">
              <img src="{{ image.url }}"  />
            </a>
            {% else %}
                <img src="{{ image.url }}"  />
          {% endif %}


    </div>
{% endif %}
