{% if item.visible %}

	<div class="card">
		{% block image %}
			{% include 'cards/card-image.html.twig' with { url:item.url }%}
		{% endblock %}

		{% block content %}
			<div class="card-content">
				<a class="card-text pa3" href="{{ item.url }}">
					<h3 class="title">{{ item.title }}</h3>

         
					{% if item.header.subtitle %}
             <p class="subtitle">
						{{ item.header.subtitle }}
            </p>
					{% elseif item.template == 'article' or item.template == 'def' %}
           <p class="subtitle">
						{{ item.summary(100) | striptags }}
            </p>
					{% endif %}
          
				</a>


			</div>
			{% block infobar %}

				{% if item.template == 'article' %}
					<footer class="item-info">
						{% include 'partials/article-tags.html.twig' %}
					</footer>
				{% endif %}

			{% endblock infobar %}

			{% block children %}
				{% if item.template == 'feed' and item.children %}
					{% include 'cards/child-cards.html.twig' %}
				{% endif %}
			{% endblock children %}


		{% endblock %}


	</div>

{% endif %}
