{% if item.header.icon or item.header.bg %}
{% set size = size ?: 150 %}

    <div style="max-width:{{size}}px" class="card-image">

            {% if item.header.icon %}
              {% set image  = item.media[item.header.icon].cropResize(size,size) %}
            {% elseif item.header.bg %}
              {% set image  = item.media[item.header.bg].cropZoom(size,size) %}
            {% endif %}

            <img src="{{ image.url }}" width="{{size}}" />

    </div>
{% endif %}
