{% if item.header.icon or item.header.bg %}
	{% set size = size ?: 200 %}
	{% set
max = max ? 'style="max-width:' ~ max ~ 'px;"' : '' %}
{% set
min = min ? 'style="min-width:' ~ min ~ ';"' : '' %}

	<div {{ max }} class="pa3 flex-grow-0 flex content-center">
		{% if item.header.icon %}
			{% set image =
  item.media[item.header.icon].cropResize(size,size) %}
		{% elseif item.header.bg
  %}
			{% set image = item.media[item.header.bg].cropZoom(size,size) %}
		{% endif
  %}
		{% if url %}
			<a href="{{ item.url }}">
				<img src="{{ image.url }}" style="min-width:2em"/>
			</a>
		{% else %}
			<img src="{{ image.url }}" style="min-width:2em"/>
		{% endif %}
	</div>
{% endif %}
