{% if item.visible %}

	<div class="br-2 flex flex-wrap items-center ba b--black-10 relative f6 br3 mv2 shadow-hover">
		{% block image %}
			{% include 'cards/card-image.html.twig' with { url:item.url }%}
		{% endblock %}

		{% block content %}
			<div class="pv2" style="flex:1 1 300px;">
				<a class="db near-black pa2 hover-near-black" href="{{ item.url }}">
					<h3 class="mb2 f5 mt0">{{ item.title }}</h3>

         
					{% if item.header.subtitle %}
             <p class="f6 mb0">
						{{ item.header.subtitle }}
            </p>
					{% elseif item.template == 'article' or item.template == 'def' %}
           <p class="f6 mb0">
						{{ item.summary(100) | striptags }}
            </p>
					{% endif %}
          
				</a>


			</div>
			{% block infobar %}

				{% if item.template == 'article' %}
					<footer class="flex flex-wrap pa0 justify-end items-center bg-black-05" style="flex: 1 1 100%;">
						{% include 'partials/article-tags.html.twig' %}
					</footer>
				{% endif %}

			{% endblock infobar %}

			{% block children %}
				{% if item.template == 'feed' and item.children %}
					{% include 'cards/child-cards.html.twig' %}
				{% endif %}
			{% endblock children %}


		{% endblock %}


	</div>

{% endif %}
