@import 'fonts.css'

.credits p {
  display:none;
}

.credits-menu a {
  color: #fff !important;
}
main {
  	line-height:1.8em;
    margin:0 0 8px 0;
}

.content p:empty {
 	display:none;
}

.content p.english {
  display:none;
}

i {
  font-style: normal;
  color:#888;
}

article.content  {
	counter-reset: stanza 1;
}

.content section {
  position:relative;
  margin:40px 0;
  padding-bottom: 20px;
  border-bottom:2px solid #ccc;
}

.count section:hover:before {
  opacity: 1;
}

.count section:before {
  content: counter(stanza);
  opacity:0;
  transition: opacity 300ms ease;
  position:absolute;
  top:40%;
  left: -80px;
  color:#ccc;
  font-size:30pt;
}

.count section.nonum:last-child:before {
  content:'';
}
.count section {
  counter-increment: stanza;
}

.sanskrt, .sanskrit {
	font-weight:400;
	font-size:24pt;
	margin: 12px 0;
    line-height: 1.42;
    font-family: 'Mukta';
}

.transcript {
  font-size:16pt;
	color:#999;
  margin: 12px 0;
}
.translation {
  margin-top:16px;
}
.content small {
  display:block;
  margin:12px 0;
}
.num {
	font-size:75%;
	color:#999;
}
.title {
	font-weight:bold;
	font-size:150%;
}
.note {
	font-size:80%;
	color:#444;
}
.kala {
	border-left: 3px #aaa solid;
  	margin:10px 0;
}
.bhuta td {
  border-right:1px solid #ccc;
}
.bhuta tr:not(.head) th {
  border: 12px solid white;
  background:#eee;
}
.bhuta td, .bhuta td p {
  text-align:center !important;
}
.bhuta td.line {
	border-right:1px solid black;
}
