{% extends 'partials/base.html.twig' %}

{% block content %}

<div id="body-inner" class="content">
    <div class="columns">

      <div class="column is-one-third">

            {{ page.media[page.header.icon] }}
            <h1>{{ page.title }}</h1>

      </div>

      <div class="column">

          {{ page.content }}

      </div>

    </div>
</div>

{% endblock %}
