{% extends 'partials/base.html.twig' %}

{% block content %}

<div id="body-inner" class="content">
    <div class="columns">

      <div class="column is-one-third is-relative">
        <div class="sticky">

          {{ page.media[page.header.icon] }}
          <h2>{{ page.title }}</h2>
        </div>



      </div>

      <div class="column">

          {{ page.content }}

      </div>

    </div>
</div>

{% endblock %}
