{% extends 'partials/base.html.twig' %}

{% block content %}
  {% for item in pages.children.visible %}
  <section class="page-block py-6">

    {% include 'partials/page-block.html.twig' with {'page':item} %}
    </section>
  {% endfor %}
{% endblock %}
