{% extends 'partials/base.html.twig' %}

{% block content %}
  <main class="page-blocks">
  {% for item in pages.children.visible %}

    <section>
      {% include 'partials/page-block.html.twig' with {'page':item} %}
    </section>


  {% endfor %}
  </main>
{% endblock %}
