{% extends 'partials/base.html.twig' %}


{% block asidel %}
{% endblock %}

{% block content %}
<container id="body-inner">
<section class="content">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
</section>
{% for child in pages.children.visible %}
  <section class="module">
    <aside>
      <div class="content">
        <h2 >{{child.title}}</h2>
        {{child.content}}
      </div>

    </aside>
    <article>
      <div class="content">
        {% for item in child.children %}
          {% include 'partials/card.html.twig'%}
        {% endfor %}
      </div>
    </article>
  </section>
{% endfor %}
</container>

{% endblock %}
