.cards h1 {
  margin-top: 14px;
}

.cards {
  gap: 1em;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overscroll-behavior-x: none;
  scroll-snap-type: x mandatory;
  scroll-padding: 1em;
  padding: 1em;
  width: 100%;
  background-color: var(--darker-gray);
  align-items: flex-start;
}

.cards .intro {
  flex: 1 1 340px;
  min-width: 240px;
  display: flex;
  flex-flow: column wrap;
  scroll-snap-align: start;
  padding: 1em;
}

.swiper {
  padding: 1em;
  background-color: hsla(0, 0%, 0%, 0);
  font-size: 0.7em;
  opacity: 0.4;
  transition: opacity ease 300ms;
}

.swiper:hover {
  opacity: 1;
}

.card {
  flex: 1 0 340px;
  min-width: 30%;
  border-radius: var(--card-radius);
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0), 0 0rem 0rem rgba(0, 0, 0, 0);
  position: relative;
  scroll-snap-align: start;
  padding: 1em;
}

.card:hover {
  box-shadow: 0 0.13rem 0.26rem rgba(0, 0, 0, 0.1),
    0 0.43rem 1.3rem rgba(0, 0, 0, 0.15);
  background-color: var(--bg-light);
}

.card-content {
  padding: 0;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image {
}

.card-image {
  max-height: 300px;
  overflow: hidden;
}

.card:hover {
  opacity: 1;
}

.card a {
  transition: all 300ms ease;
  color: var(--text-color);
  font-weight: normal;
  line-height: 1;
}

.card-content {
  flex: 1;
  min-width: 180px;
}

.card-text p {
  margin: 0;
}

.card .title {
  margin: 0;
  font-size: 1.25em;
}

.card .subtitle {
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.card .summary {
  margin: 0 0 0.5em 0;
  max-height: 5em;
  overflow: hidden;
  line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.item-info,
.child-cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--darker-gray);
  border-top: 1px solid var(--card-border);
  transition: all 600ms ease;
  color: var(--text-light-color);
  box-shadow: 0px 0px 0px 0px hsla(0, 0%, 30%, 0) inset;
}

.child-cards {
  align-items: stretch;
}

.child-cards .card-image {
  padding: 0;
}

.child-cards .card {
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 1 9em;
}

.child-cards .title {
  font-size: 1em;
  padding: 0.8em;
}

.child-cards .card-image img {
  width: 2em;
  height: 2em;
  max-width: none;
  margin: 0.5em;
}
