.card {
  flex: 1 1 400px;
  border-radius: var(--card-radius);
  transition: all 300ms ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid hsla(0,0%,50%,0);
  box-shadow: 0 0rem 0rem rgba(0,0,0,0),0 0rem 0rem rgba(0,0,0,0);
  position: relative;
}

.card:hover {
  border: 1px solid hsla(0,0%,50%,0.1);
  box-shadow:  0 0.13rem 0.26rem rgba(0,0,0,0.1),0 0.43rem 1.30rem rgba(0,0,0,0.15);
  background-color: var(--bg-light);
}

.card-content {
  padding: 0;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image {
  padding: 1em;
  flex: 0;
  display: flex;
  justify-content: center;
}

.card-image a {
      width: 100px;
}

.card-image img {
  border-radius: 10em;
  transition: all 600ms ease;
}

.card:hover .card-image img {
  border-radius: var(--card-radius);
}


.card a {
  transition: all 300ms ease;
  color: var(--text-color);
  font-weight: normal;
}

.card-text {
  flex: 1;
  padding:1em;
}

.card .title {
  margin:0.5em 0;
  font-size: 1.25em;
}

.card .summary {
  margin:0 0 0.5em 0;
  max-height: 5em;
  overflow: hidden;
  line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

}

.child-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  padding: 1em;
}

.child-cards .card-image {
  padding: 0;
}

.child-cards .card {
  align-items: center;
  flex-wrap: nowrap;
  flex:1 1 9em;
}

.child-cards .title {
  font-size: 1em;
  padding: 0.8em;
}

.child-cards .card-image img {
  width: 2em;
  height: 2em;
  max-width: none;
  margin: 0.5em;
}

.cards h1 {
  margin-top:14px;
}

.cards {
  gap: 1em;
}

.card footer {
  flex: 1 1 100%;
  padding: 0 1em 0.5em 1em;
}
