main.index {
  display: flex;
  flex-direction: column;
}

main.index > section {
  background: var(--bg-gray);
  background: linear-gradient(0deg, var(--bg-gray) 0%, var(--darker-gray) 100%);
}

main.index > section:nth-child(even) {
}

.list {
  max-width: 860px;
  padding: 2em 0;
  margin: 0 auto;
  position: relative;
}

.list .sticky {
  position: sticky;
  top: 80px;
  padding: 1em;
}

.list header {
  padding: 2em;
}

.list section {
  max-width: 100%;
}
