.panels {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  display: grid;
  grid-template-columns: 300px minmax(auto,620px) auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  "header content"
  "header footer";
}

.panels > header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panels > header .row {
  margin: 1em 0;
}

#breadcrumbs {
    padding: 1em 0 0.5em 0;
}

.panels .top .icon {
  justify-content: center;
  flex: 1 1 200px;
}


.panels > footer {
  grid-area: footer;
  width: 100%;

}

.panels > header > .icon {
  flex: 0 1 240px;
  padding:3em 1em 0 1em;
  z-index:30;
  position: relative;
}

.panels > header  .start {
  flex:1 1 200px;
  height: min-content;
  padding:1em 0;
  z-index:30;
  position: relative;

}

.panels > header  .start h1 {
  font-size:1.4em;
  margin-bottom: 8px;
}

.panels > header > .info {
  padding: 1em 0;
  font-size:14px;
}
.panels > header .additional a {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--accent-color, #ccc);
  color: #333;
}


.panels > article {
  z-index: 40;
  max-width: 600px;
  word-wrap: break-word;
  background: var(--bg-grey);
  min-width:280px;
}

.panels .top {
  position:sticky;
  top: 80px;
  padding: 1em;
  z-index: 50;
  display: flex;
  flex-flow: row wrap;
}



.panels .back {
  height: 70vh;
  z-index: 40;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
}
