{% do
    assets.addCss('theme://css/design.css', 90) %}
{% do
      assets.addCss('theme://css/icons.css', 99) %}

{% embed "cards/card.html.twig" %}

	{% block image %}
		{% if item.header.icon %}
			{% include 'cards/card-image.html.twig' with { url:item.url, size:120 }%}
		{% else %}
			<div class="card-image icon">
				{{ read_file('theme://icons/lines/' ~ item.template ~ '.svg') }}
			</div>
		{% endif %}

	{% endblock %}


	{% block infobar %}
		{% include "partials/item-info.html.twig" %}
	{% endblock infobar %}


{% endembed %}
