<div class="time">
  <strong>{{item.date}}</strong>
</div>
  <div class="card" href="{{item.link}}" target="_blank">
    {% if item.icon %}
      <i class="{{item.icon}}"></i>
    {% endif %}
     {{item.text}}
   </div>
