<div class="pa3 mh3 mv1 ba b--black-10">
  <h3 class="f5 mh0 mt0 mb2">
    {% if item.icon %}
      <i class=" pa1 {{ item.icon }}"></i>
    {% endif %}
    {{ item.date }}
  </h3>
  <p class="ma0">
    {{ item.text }}
  </p>
</div>
