<div class="op card">
  <div class="verb">
    <a href="{{op.link}}" target="_blank"> {{ read_file('theme://icons/lines/opportunity.svg') }} {{op.verb}}</a>
  </div>
  <div class="text">
    {{op.text}}
  </div>
</div>
