<div class="op card">
  <div class="verb">
    <a href="{{item.link}}" target="_blank"> {{ read_file('theme://icons/lines/opportunity.svg') }} {{item.verb}}</a>
  </div>
  <div class="text">
    {{item.text}}
  </div>
</div>
