{% if item.visible %}

  {% do
    assets.addCss('theme://css/design.css', 90) %}

  <div class="project card">

    {% include 'cards/card-image.html.twig' with { size: 280, url:item.url }%}

    <div class="card-text">

      <a href="{{item.url}}">
        <h3 class="title">{{item.title}}
        </h3>

        <p class="summary">
          {% if item.header.subtitle %}
            {{ item.header.subtitle }}
          {% endif %}

        </p>

    </a>
      <footer>

      {% include 'partials/status.html.twig' %}

      {% if item.header.start_date %}
      {% set thedate = item.header.start_date|nicetime %}
        {% if item.header.end_date %}
          {% set thedate = item.header.end_date|nicetime %}
        {% endif %}

        {% include 'partials/tag.html.twig' with {
          type: 'time',
          icon: 'fa-clock-o',
          text: item.header.start_date|nicetime
        } only %}
      {% endif %}

      {% if item.header.opportunities and item.header.opportunities|count > 0 %}
        {% include 'partials/tag.html.twig' with {
          type: 'opportunity',
          icon_file: 'lines/opportunity.svg',
          text: item.header.opportunities|count
        } only %}
      {% endif %}

      {% if item.children.ofType('object').visible and item.children.ofType('object').visible|count>0 %}
        {% include 'partials/tag.html.twig' with {
          type: 'object',
          icon_file: 'lines/object.svg',
          text: item.children.ofType('object')|count
        } %}
      {% endif %}

      {% if item.children.ofType('event').visible and item.children.ofType('event').visible|count>0 %}
        {% include 'partials/tag.html.twig' with {
          type: 'event',
          icon_file: 'lines/event.svg',
          text: item.children.ofType('event')|count
        } %}
      {% endif %}


      </footer>
    </div>





  </div>

{% endif %}
