{% if item.visible %}

  {% do
    assets.addCss('theme://css/design.css', 90) %}

  <div class="design card">

    {% include 'cards/card-image.html.twig' with { size: 280, url:item.url }%}

    <div class="card-text">

      <a href="{{item.url}}">
        <h3 class="title">{{item.title}}
        </h3>

        <p class="summary">
          {% if item.header.subtitle %}
            {{ item.header.subtitle }}
          {% endif %}

        </p>

    </a>
      <footer>

      {% include 'partials/status.html.twig' %}

      {% if item.header.date %}
        <span class="tag">
          <i class="fa fa-clock-o"></i>
          {{ item.header.date|nicetime }}</span>
      {% endif %}

      {% if item.header.opportunities|count > 0 %}
        {% include 'partials/tag.html.twig' with {
          type: 'op',
          icon_file: 'lines/opportunity.svg',
          text: item.header.opportunities|count
        } only %}
      {% endif %}


      </footer>
    </div>



    {% if item.children.visible %}
      {% include 'cards/child-cards.html.twig' %}
    {% endif %}

  </div>

{% endif %}
