{% if item.header.icon or item.media.images or item.media.files %}
{% set size = size ?: 150 %}

    <div style="max-width:{{size}}px" class="card-image">

            {% if item.header.icon %}
              {% set image  = item.media[item.header.icon] %}
            {% elseif item.media.images %}
              {% set image  = item.media.images|first %}
            {% elseif item.media.files %}
              {% set image  = item.media.files|first %}
            {% endif %}

            <img src="{{ image.cropResize(size,size).url }}" width="{{size}}" />

    </div>
{% endif %}
