<ul id="menu">
{% for item in pages.children.routable.visible %}
    <li class="{{ item.active or item.activeChild ? 'active' : '' }}">
      <a href="/#{{ item.slug }}">{{ item.title }}</a>
    </li>
{% endfor %}
</ul>
